<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light navbar-expand-md py-5 justify-content-between" style="background-color: #a1535f; height: 190px;" >
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25 app-title">XPAND</a>

</nav>
<planet-list-component></planet-list-component>


